<?xml version="1.0" encoding="UTF-8"?>

<phpunit 
         colors="true"
         bootstrap="vendor/autoload.php"
         failOnRisky="true"
         failOnWarning="true"
>
    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <testsuites>
        <testsuite name="Transactor Test Suite">
            <directory>./tests/</directory>
        </testsuite>
    </testsuites>
    
</phpunit>